<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`./partials/head.ejs`) %>
  <body>
    <h1>Edit <%=god.name%></h1>
    <form action="/smite_compendium/<%=god.id%>?_method=PUT" method='POST'>
        name: <input type="text" name="name" value="<%=god.name%>"><br><br>
        img: <input type="text" name="img" value="choose img url"><br><br>
        skins: <input type="text" name="skins[0]" value="choose img url"><br><br>
        title: <input type="text" name="title" value="<%=god.title%>"><br><br>
        title: <input type="text" name="pantheon" value="<%=god.pantheon%>"><br><br>
        type:<input type="text" name="type" value="<%=god.type%>"><br><br>
        Class:<input type="text" name="class" value="<%=god.class%>"><br><br>
        Lore:<input type="text" name="lore" value=" "><br><br>
        <input type="submit" name="submit" value="submit"/>
    </form>
  </body>
</html>
